* {
    font-family: 'Noto Sans Bengali', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
}

.primary-color {
    color: #FD6E0A;
}

.primary-bg {
    background-color: #FD6E0A;
}

.text-white {
    color: #fff;
}
.mx-2{
    margin:0 5px;
}
.nav-btn { 
    min-width: 150px;
    max-width: 155px;
    height: 64px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    background-color: #FD6E0A;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.nav-btn-outline { 
    min-width: 150px;
    max-width: 155px;
    height: 60px;
    font-weight: bolder;
    border-radius: 5px;
    border:2px solid #FD6E0A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-group{
    display: flex;
    gap: 20px;
}
/* nav start */
li {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
}

li>a {
    color: #474747;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 230px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.brand-logo {
    font-size: 45px;
}

header {
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, 5%;
    background-color: #FFF8F3;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 230px;
    padding-right: 25px;
}

.hero-details {
    max-width: 585px;
}

.hi-there {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 45px;
    line-height: 51px;
    /* Dark 02 */
    color: #474747;
}

.name-dev {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 96px;
    /* identical to box height */
    /* Dark 01 */
    color: #181818;

}

.hero p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    /* Dark 03 */
    color: #757575;
}

#about-me {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-card {
    width: 1140px;
    height: 550px;
    background: #FFF8F3;
    border-radius: 10px;
}

.about-me-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    /* identical to box height */
    padding: 131px 486px 0 485px;
    /* Dark 01 */
    color: #181818;
    margin: 0;
}

.about-me-details {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* or 167% */
    padding: 30px 156px 0 157px;
    /* Dark 03 */
    color: #757575;
    margin: 0;
    text-align: center;
}

.orgnizers {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
}

.orgnizers p {
    font-weight: bolder;
    color: #474747;
}

.orgnizers span {
    font-weight: normal;
    color: #757575;
}

/* What I Do */
#whatido {
    text-align: center;
}

.what-i-do-head {
    max-width: 910px;
    display: inline-block;
    justify-content: center;
}

.what-i-do-head>P {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    /* Dark 01 */
    color: #181818;
}

.what-i-do-head .details {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    /* Dark 03 */
    color: #757575;
}

.what-i-do-lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-i-do-card {
    width: 267px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    margin: 0 20px;
}

.what-i-do-card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    /* Dark 01 */
    color: #181818;
}

.what-i-do-card-body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    /* Dark 03 */
    color: #757575;
    text-align: justify;
}

/* Resume Section */
#resume {
    margin-top: 30px;
}

.resume-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    /* Dark 01 */
    color: #181818;

}

.resume-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    margin-top: 30px;

    /* Dark 02 */

    color: #474747;

}

.resume-footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 130px;
}

.resume-card {
    width: 558px;
    /* Dark 05 */
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
    margin-top: 30px;
}

.r-card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    /* Dark 02 */
    color: #474747;
}

.r-card-tagline {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* Dark 03 */
    color: #757575;
}

.r-card-details {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    /* Dark 03 */
    color: #757575;
}

footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    gap: 120px;
    justify-content: space-between;
    height: 400px;
}

.left-side {
    max-width: 30%;

}

.lhh {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* Dark 01 */
    color: #181818;
}

.lht {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    /* Dark 02 */
    color: #474747;
}

.right-side {
    width: 461px;
    height: 64px;
    left: 909px;
    top: 3682px;
}
.right-side input{
    background-color: #ffffff;
    border:none;
    padding: 18px 30px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}
.right-side textarea{
    background-color: #ffffff;
    border:none;
    padding: 20px 25px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}